*{
	margin: 0px 0px 0px 0px;
	font-family: "Arial"; 
	font-size: 15px;
	text-align: center; 
	background-color: #ffffff;
	border-spacing: 5px;
}
	
div#logoTipoPage{
	background-color: #dd0000;
}

img{
	
	height: 100%;
}
input, textarea, select{
	
	border: 2px solid #dd0000;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 10px;
		
}

input#vender{
	border: 2px solid #e2c625;
	margin-left: 5px;
	color: #e2c625;	
	height: 40px;
	text-transform: uppercase;
	font-weight: bold;
}
input#motos{
	margin-left: 5px;
	height: 40px;
	text-transform: uppercase;
	font-weight: bold;
}
checkbox{
	border: 2px solid #dd0000;
	border-radius: 5px;
	padding-left: 10px;
}
img#iconeVender{
	margin-left: 30px;
	height: 40px;
	padding-top: 10px;
	padding-bottom: auto;
}
img#iconeCarro{
	height: 30px;
	padding-top: auto;
	padding-bottom: auto;
}
img#iconeMoto{
	margin-left: 30px;
	height: 40px;
	padding-top: 10px;
	padding-bottom: auto;
}
img#iconeBusca{
	height: 25px;
}
input#carros{
	height: 40px;
	text-transform: uppercase;
	font-weight: bold;
}


input#vender:hover{
	border-color: black;
}
input#ofertas{
	font-size: 15px;
	width:120px;
	height:50px;
	background-color: #dd0000;
	color: #ffffff;
	margin-left: 15px;
}

input#ofertas:hover{
	border-color: black;
}
textarea:hover{
	boder-color: black;
}
select:hover{
	border-color: black;
}

fieldset{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
	border-left: 2px solid #dd0000;
	border-right: 2px solid #dd0000;
	border-top: 2px solid #dd0000;
	border-bottom: 2px solid #dd0000;
	border-radius: 10px;
}

input:hover{
	border-color: black;
}